<div>
    <input type="text"
           name="search"
           ng-model="search"
           placeholder="Pretraga">
    <table>
        <tr>
            <th>ID</th>
            <th>Naziv komitenta</th>
            <th>Telefon</th>
            <th>Adresa</th>
            <th>JIB</th>
            <th>PIB</th>
            <th>Opcije</th>
        </tr>
        <tbody>
        <tr ng-repeat="komitent in allKomitent | filter:search">
            <td>{{komitent.id}}</td>
            <td>{{komitent.nazivKomitenta}}</td>
            <td>{{komitent.telefon}}</td>
            <td>{{komitent.adresa}}</td>
            <td>{{komitent.jib}}</td>
            <td>{{komitent.pib}}</td>
            <td>
                <input type="button" value="X" ng-click="deleteKomitent(komitent.id)">
            </td>
        </tr>
        </tbody>
    </table>


    <table>

        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Second name</th>
        </tr>
        <tbody>
        <tr ng-repeat="per in person |  filter:search">
            <td>{{per.id}}</td>
            <td>{{per.firstName}}</td>
            <td>{{per.lastName}}</td>
            <td>
                <input type="button" value="&#10006" ng-click="deleteKomitent(per.id)">
            </td>
        </tr>
        </tbody>
    </table>

</div>